name: Code Lint

on: [push, pull_request]

jobs:
  format-check:
    name: Format Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Cache Scala
        uses: coursier/cache-action@v7
      - name: Setup Scala
        uses: coursier/setup-action@v1
        with:
          jvm: adopt:1.8
          apps: sbt
      - name: Format Check
        run: sbt scalafmtCheckAll
