name: Test

on: [push, pull_request]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Cache Scala
        uses: coursier/cache-action@v7
      - name: Setup Scala
        uses: coursier/setup-action@v1
        with:
          jvm: adopt:1.8
          apps: sbt
      - name: Setup BtorMC
        uses: SeddonShen/setup-btormc@v0.0.2
      - name: SBT Test
        run: sbt test
